.collection {
  border: none;

  .collection__header {
    font-size: 1.3rem;
    margin: 0 auto;
    padding: 18px 0;
    text-align: center;
  }

  .collection__body {
    border: 1px solid $collection-border-color;
    background-color: $background-highlight;

    .collection__item {
      background-color: inherit;
      line-height: 1.5rem;
      padding: 15px 20px;
      border-bottom: 1px solid $collection-border-color;
    }
  }
}