@import 'vendor/normalize';
@import 'vendor/materialize';

$background-highlight: #fefefe;
$background: #efefef;
$font-primary: #665555;

body {
  color: $font-primary;
  background-color: $background;
}

.primary-spinner {
  display: block;
  margin: 80px auto;
}

.nav-wrapper i {
  line-height: 56px;
}

.nav-wrapper .row .col {
  padding: 0 .35rem;
}

.result {
  font-size: 1rem;

  .row {
    margin-bottom: 0px;
  }
  &__title {
    font-size: 1.5rem;
    margin: 5px auto;

    a {
      @extend .cyan-text, .text-darken-3;
      text-decoration: underline;
    }
  }
  &__subtitle {
    margin: 0 auto;
  }
  &__info {
    margin: 16px auto 0px auto;
    font-size: 1.8rem;
  }
}

nav .input-field {
  input[type=search]:focus {
    color: $font-primary;
  }

  input[type=search] {
    padding: 0;
    width: 100%;
  }
}

.collection {
  margin-top: 0;
  background-color: $background-highlight;
  .collection-item {
    background-color: inherit;
  }
}

.results-header {
  font-size: 1.3rem;
  margin: 1.2rem auto;
}