// @import 'vendor/materialize';
@import 'vendor/materialize/prefixer';
@import 'vendor/materialize/mixins';
@import 'vendor/materialize/color';
@import 'vendor/materialize/variables';

@import 'vendor/materialize/normalize';

@import 'vendor/materialize/global';
@import 'vendor/materialize/grid';

$background-highlight: #fefefe;
$background: #efefef;
$font-primary: #665555;

// Style Placeholders
::-webkit-input-placeholder {
   color: lighten($input-border-color, 20%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($input-border-color, 20%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($input-border-color, 20%);
}

:-ms-input-placeholder {
   color: lighten($input-border-color, 20%);
}

body {
  color: $font-primary;
  background-color: $background;
}

.notification {
  margin: 100px auto;
  font-size: 1.6rem;

  &__spinner {
    display: block;
    margin: 40px auto;
  }
}

.result {
  font-size: 1rem;

  .row {
    margin-bottom: 0px;
  }
  &__title {
    font-size: 1.5rem;
    margin: 5px auto;
    margin-right: .5rem;

    a {
      @extend .cyan-text, .text-darken-3;
      text-decoration: underline;
    }
  }
  &__subtitle {
    margin: 0 auto;
  }
  &__info {
    margin: 16px auto 0px auto;
    font-size: 1.8rem;
  }
}

.collection {
  margin-top: 0;
  background-color: $background-highlight;
  .collection-item {
    background-color: inherit;
  }
}

.results-header {
  font-size: 1.3rem;
  margin: 18px auto;
}

// a {
//   position: relative;
//   transition-property: left, top;
//   transition-duration: .5s;
//   transition-timing-function: ease-in-out;

//   &:active {
//     top: 3px;
//     left: 3px;
//   }
// }

.main-content {
  margin-top: 64px;
}

@media (min-width: 993px) {
  .l0 {
    display: none;
  }

  .row .col {
    padding: 0 .6rem;
  }
}

@media (max-width: 992px) {
  .s0 {
    display: none;
  }

  .row .col {
    padding: 0;
  }
}