@import 'vendor/materialize/color';
@import 'vendor/materialize/variables';

@import 'vendor/materialize/normalize';
@import 'vendor/materialize/preloader';
@import 'vendor/materialize/typography';

@import 'variables';
@import 'navbar';
@import 'search';
@import 'body';
@import 'collection';
@import 'icon';
@import 'notification';
@import 'title-group';
@import 'label-icon';
@import 'station-row';
@import 'layout';
@import 'menu';

html {
  box-sizing: border-box;
  overflow-y: scroll;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $link-primary;
}

// Style Placeholders
::-webkit-input-placeholder {
   color: $inactive;
}

:-moz-placeholder { /* Firefox 18- */
   color: $inactive;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $inactive;
}

:-ms-input-placeholder {
   color: $inactive;
}

body {
  color: $font-primary;
  background-color: $background;
}