@import 'vendor/materialize';

$background-highlight: #fefefe;
$background: #efefef;
$font-primary: #665555;

body {
  color: $font-primary;
  background-color: $background;
}

.loading {
  margin: 100px auto;

  &__title {
    font-size: 1.6rem;
  }

  &__spinner {
    display: block;
    margin: 40px auto;
  }
}

.nav-wrapper i {
  line-height: 56px;
}

.result {
  font-size: 1rem;

  .row {
    margin-bottom: 0px;
  }
  &__title {
    font-size: 1.5rem;
    margin: 5px auto;

    a {
      @extend .cyan-text, .text-darken-3;
      text-decoration: underline;
    }
  }
  &__subtitle {
    margin: 0 auto;
  }
  &__info {
    margin: 16px auto 0px auto;
    font-size: 1.8rem;
  }
}

nav .input-field {
  input[type=search]:focus {
    color: $font-primary;
  }

  input[type=search] {
    padding: 0;
    width: 100%;
  }
}

.collection {
  margin-top: 0;
  background-color: $background-highlight;
  .collection-item {
    background-color: inherit;
  }
}

.results-header {
  font-size: 1.3rem;
  margin: 18px auto;
}

a {
  position: relative;
  transition-property: left, top;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;

  &:active {
    top: 3px;
    left: 3px;
  }
}

.search-bar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
}

.main-content {
  margin-top: 64px;
}

@media (min-width: 993px) {
  .l0 {
    display: none;
  }

  .row .col {
    padding: 0 .6rem;
  }
}

@media (max-width: 992px) {
  .s0 {
    display: none;
  }

  .row .col {
    padding: 0;
  }
}

.menu {
  background-color: $background-highlight;
  position: fixed;
  width: 25%;
  height: 100%;
}