.station-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .station-row__details {
    flex: 0 0 70%;
  }

  .station-row__icons {
    flex: 0 0 25%;

    display: flex;
    justify-content: space-between;

    .label-icon {
      flex: 0 0 30px;

      @media (min-width: 550px) {
        justify-content: flex-end;
        flex: 0 0 60px;

        i {
          margin-left: 8px;
        }
      }
    }
  }
}